<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971085286501-rocliq9pgnflbehqbu2uofb84525s80t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971085286501-rocliq9pgnflbehqbu2uofb84525s80t</string>
	<key>API_KEY</key>
	<string>AIzaSyD-Fm6jiBTVT8CHe4gXwrjY4YOdh_A1Udg</string>
	<key>GCM_SENDER_ID</key>
	<string>971085286501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>fir-ios-xcode</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-ios-xcode.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971085286501:ios:5b64a2dc8d6e4566bf0a8c</string>
</dict>
</plist>